#main{
    background-image:linear-gradient(to right,rgb(0, 0, 0),rgb(213, 4, 4));
    margin-right:0px;
}
#title{
    background-image:linear-gradient(to right,rgba(168, 0, 0, 0.011),rgba(0, 0, 0, 0.84));
    border-color:black;
    border-width:2px;
    height: 100px;
}
h1 {
background: -webkit-linear-gradient(#eee, #333);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.país{
width:30px;
height:30px;

}
.marca{

height:80px;
}
tr{
    
    background:linear-gradient(#eee, #b0b0b0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
table,th,td{
text-align: center;
font-size: 20px;

}

#tabelinha {
 align-self:left;

}
#pilotos{
    float: left; 
    
}
.tabela2in{
    padding:0;
    border-right: 1px solid white;
    text-align: center;
    }
    
.tabela2{
    float:right;
margin-right:20px;
border:1px solid;
border-color: #eee;
border-radius:15px;
width:37%;
background-color: rgba(0, 0, 0, 0.688);
}
.final{
    height:35px;
}
.tabelatin{
    border:1px solid;
    border-color:white;
}
#foto{
    height:200px;
}
